<%= paginate @products, remote: true %>
<%# binding.pry %>
<div class="row">
<% @products.each do |p| %>
    <div class="col-12 col-md-4 mb-4">
        <div class="card h-100">
        <%= image_tag Product.first.product_images[0].primg.url(:eyecatch) %>
        <%#= image_tag p.product_images[0].primg.url(:eyecatch) %>
            <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                    <li>
                        <i class="text-warning fa fa-star"></i>
                        <i class="text-warning fa fa-star"></i>
                        <i class="text-warning fa fa-star"></i>
                        <i class="text-muted fa fa-star"></i>
                        <i class="text-muted fa fa-star"></i>
                    </li>
                    <%# <li class="text-muted text-right"> %>
                    <%#= p.product_stocks[0].price %>
                    <%# </li> %>
                    <li class="text-muted text-right"><%= Product.first.product_stocks[0].price %></li>
                </ul>
                <%= link_to p.name, p, class: "h2 text-decoration-none text-dark" %>
                <p class="card-text">
                <%= p.description %>
                </p>
            </div>
        </div>
    </div>
<% end %>
</div>