<div class="col-lg-8">
  <h1 style="color: #59ab6e" class="fw-bold mb-0 p-3 text-black">Search Result</h1>
  <div class="container py-5">
    <div class="row">
      <% @products.each do |p| %>
          <div class="col-md-4">
              <div class="card mb-4 product-wap rounded-0">
                  <div class="card rounded-0">
                      <%# <img class="card-img rounded-0 img-fluid" src="assets/img/shop_01.jpg"> %>
                      <%= image_tag p.product_images[0].primg.url(:eyecatch), class:"card-img rounded-0 img-fluid" %>
                      <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                          <ul class="list-unstyled">
                              <li><a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a></li>
                              <li>
                                  <%= link_to product_url(p.id), class: "btn btn-success text-white mt-2" do %>
                                      <i class="far fa-eye"></i>
                                  <% end %>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="card-body">
                    <%= link_to p.name, product_url(p.id), class:"h3 text-decoration-none" %>
                    <div class="d-flex justify-content-center">
                        <% size_arr = p.apparel_size_ids.uniq %>
                        <% size_arr.each do |s| %>
                            <span class="p-2"><%= ApparelSize.find(s).title %></span>
                        <% end %>
                    </div>
                      <ul class="list-unstyled d-flex justify-content-center mb-1">
                          <li>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-warning fa fa-star"></i>
                              <i class="text-muted fa fa-star"></i>
                              <i class="text-muted fa fa-star"></i>
                          </li>
                      </ul>
                      <p class="text-center mb-0"><%= p.product_stocks[0].price %> $</p>
                  </div>
              </div>
          </div>
      <% end %>
    </div>
  </div>
</div>