<tbody>
  <tr>
    <td class="pl-4"><%= product.id %></td>
    <td>
      <h5 class="font-medium mb-0">
        <%= product.name %>
      </h5>
    </td>
    <td>
      <%= link_to product do %>
        <% unless product.product_images.any? %>
          <img class="card-img rounded-0 img-fluid" style="height: 30%; width: 30%;" src="https://source.unsplash.com/600x600/?<%= Faker::Commerce.product_name %>">
        <% else %>
          <%= image_tag product.product_images[0].primg.url(:thumb) %>
        <% end %>
      <% end %>
    </td>
    <td>
      <%= hidden_field_tag :product_id, product.id %>
      <% product_stocks_arr = product.product_stocks.map { |ps| ["#{ps.color}: Size #{ApparelSize.find(ps.apparel_size_id).title}", ps.id] } %>
      <%= select_tag(:product_stock, options_for_select(product_stocks_arr), class: "form-select") %>
    </td>
    <td>
      <span id="product_<%=product.id%>"><%= product.product_stocks[0].stock %></span>
    </td>
    <td>
        <span class="text-muted"><%= time_ago_in_words(product.updated_at) %> ago</span><br>
    </td>
    <td>
      <%# <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i class="fa fa-key"></i> </button> %>
      <%# <button type="button" class="del-btn btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button> %>
    <%= link_to edit_product_path(product.id), class:"btn btn-outline-info btn-circle btn-lg btn-circle" do %>
      <i class="fa fa-edit"></i>
    <% end %>
    <%= link_to product, class:"del-btn btn btn-outline-info btn-circle btn-lg btn-circle ml-2", data: {"turbo-method": :delete, turbo_confirm: "You serious?"} do %>
      <i class="fa fa-trash"></i>
    <% end %>
      <%# <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-edit"></i> </button> %>
      <%# <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-upload"></i> </button> %>
    </td>
  </tr>
</tbody>