<!-- Start Top Nav -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
    <div class="container text-light">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <i class="fa fa-envelope mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:nguyenmanhkhang0805@gmail.com">nguyenmanhkhang0805@gmail.com</a>
                <i class="fa fa-phone mx-2"></i>
                <a class="navbar-sm-brand text-light text-decoration-none" href="tel:+84823640767">(+84) 823640767</a>
            </div>
            <div>
                <a class="text-light" href="https://fb.com/lafantum" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.instagram.com/keepeetsha256" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                <a class="text-light" href="https://www.linkedin.com/in/manhkhangswe" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
            </div>
        </div>
    </div>
</nav>
<!-- Close Top Nav -->


<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <%= link_to "Hopify", root_url, class:"navbar-brand text-success logo h1 align-self-center" %>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <%= link_to "Home", root_url, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Help", help_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Categories", categories_path, class: "nav-link" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "Contact", contact_path, class: "nav-link" %>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
                <%= link_to cart_items_path, class: "nav-icon position-relative text-decoration-none" do %>
                    <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                <% end %>
                    <div class="btn-group">
                        <%# <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button> %>
                    <% if logged_in? %>
                        <div class="nav-icon position-relative text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            <%# <i class="fa-solid fa-circle-user"></i> %>
                            <%= avatar_for(current_user, size=30) %>
                        </div>
                        <div class="dropdown-menu">
                        <% if current_user.admin? %>
                            <%= link_to "Users", users_path, class: "dropdown-item" %>
                        <% end %>
                            <%= link_to "Profile", current_user, class:"dropdown-item" %>
                            <%= link_to "Orders", orders_path, class:"dropdown-item" %>
                            <%= link_to "Wish list", '#', class:"dropdown-item" %>
                            <%= link_to "My shops", shops_path, class:"dropdown-item" %>
                            <div class="dropdown-divider"></div>
                            <%= link_to "Log out", logout_path, data: { "turbo-method": :delete }, class:"dropdown-item" %>
                        </div>
                    <% else %>
                        <div class="nav-icon position-relative text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                            <%# <i class="fa-solid fa-circle-user"></i> %>
                            <i class="fa-solid fa-user-plus"></i>
                        </div>
                        <div class="dropdown-menu">
                            <%= link_to "Log In", login_path, class:"dropdown-item" %>
                            <%= link_to "Sign Up", signup_path, class:"dropdown-item" %>
                        </div>
                    <% end %>
                    </div>
            </div>
        </div>

    </div>
</nav>
<!-- Close Header -->

<!-- Modal -->
<div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%= render "search_form" %>
    </div>
</div>
<%# <div id="cart"> %>
    <%#= render 'cart_sessions/cart' %>
<%# </div> %>
